{% extends 'layout.html' %}

{% block body %}
	<h1>Depression Prediction Form</h1>
	<p><i>We used Pyspark and Decision Tree Model, accuracy rate 60%. Prediction rate is low because different people may take
    the situation differently. This model is only for reference only, not so practical.  </i></p>
	<form action="/depression_results" method="post">
		<label for="age">Age:</label>
		<input type="number" id="age" name="age" min="0" max="120" required>
		<label for="married">Married:</label>
		<select id="married" name="married" required>
			<option value="">Please select</option>
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
        
		<label for="education_level">Number of Years in School (0-19):</label>
		<input type="number" id="education_level" name="education_level" min="0" max="19" required>
		<label for="total_members">Family Size (0-12):</label>
		<input type="number" id="total_members" name="total_members" min="0" max="12" required>
        <label for="gained_assets">Liquid Assets:</label>
		<input type="number" id="gained_assets" name="gained_assets" required>
        <label for="durable_assets">Fixed Assets:</label>
		<input type="number" id="durable_assets" name="durable_assets" required>







		<label for="heart_disease">Heart Disease:</label>
		<select id="heart_disease" name="heart_disease" required>
			<option value="">Please select</option>
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
		<label for="smoking_history">Smoking History:</label>
		<select id="smoking_history" name="smoking_history" required>
			<option value="">Please select</option>
			<option value="0">Never</option>
			<option value="1">No Info</option>
			<option value="2">Current</option>
			<option value="3">Former</option>
		</select>
		<label for="height">Height:</label>
  		<input type="number" id="feet" name="feet" min="0" max="12" placeholder="Feet" required>
  		<input type="number" id="inches" name="inches" min="0" max="11" placeholder="Inches" required>
		<label for="weight">Weight:</label>
  		<input type="number" id="weight" name="weight" min="0" placeholder="Lbs" required>
		<label for="HbA1c_level">HbA1c Level:</label>
		<input type="number" id="HbA1c_level" name="HbA1c_level" min="0" max="20" step="0.1" value="5.5" required>
		<label for="blood_glucose_level">Blood Glucose Level:</label>
		<input type="number" id="blood_glucose_level"
			name="blood_glucose_level" min="50" max="1000" value="95" required>
		<input type="submit" value="Predict">
	</form>
<hr>
<a href="/">go home</a>
{% endblock %}
