{% extends 'layout.html' %}

{% block body %}
	<h1 class="text-center">Health Advisor Machine</h1>
	<p class="text-center"><i>Our project is for learning experience, please consult your healthcare providers if you have any health problem</i></p>
	<h3>Please select a topic to learn about your health:</h3>
	<ul>
		<h4>Click on link to check your health</h4>
		<li><a href="/diabetes">Type 2 Diabetes</a></li>
		<li><a href="/heart_attack">Heart Attack</a></li>
		<li><a href="/depression">Depression</a></li>
		<hr>
		<h4>Coming Soon</h4>
		<li><a href="#">Cancer</a></li>
		<li><a href="#">Alzheimer</a></li>
		<li><a href="#">Liver Disease</a></li>
		<hr>
		<h4>100% Accuracy</h4>
		<li><a href="/craziness">Craziness</a></li>
		<hr>
		<li><a href="/feedback">We Learn, We Listen, We Take Feedback, And We Fix</a></li>
	</ul>
{% endblock %}